.header {
    background: url(/IMAGES/fondo.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
  .header .navbar {
    background-color: transparent !important;
  }
  .itemsnavbar ul li {
    float: right;
    list-style-type: none;
    text-align: left;
    margin-right: 15px;
    font-size: 19px;
    font-weight: 470;
    margin-top: 3%;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 251, 251, 0.979);
    
}
.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(94, 91, 91, 0.979);
  
}
  .unete{
      background-color: #05a081;
      color: white;
      border-color: #05a081;
      box-shadow: none;
      width: 150%;
  }
 
  .titulo{
      color: white;
      text-align: left;
      margin-top: 4.5%;
      margin-left: 19.5%;
      margin-right: 18%;
  }
  .titulo h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
  }
  .d-flex{
    margin-left: 19.5%;
    margin-right: 25%;
    padding-top: 20px;
  }
.subtexto h5{
    color: white;
    margin-left: 19.5%;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;

}
.subtexto h4{
    color: rgba(247, 234, 234, 0.562);
    font-size: 15px;
    font-weight: 300;
    display: inline-block;

}
.menudos{
  display: flex;
  justify-content: center;
}
.seccion li {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 30 px;
}
.seccion a {
  color: rgb(77, 72, 72);
  font-weight: 600;
  font-size: large;
}
.seccion a:hover {
  color: rgb(43, 120, 192);

}

.secciondos {
  color: rgb(20, 19, 19);
  margin-left: 30px;
  display: flex;
}
.secciondos h2{
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  width: 45%;
}
/* boton de tendencias */
.secciondos .tendencias 
{
  display: inline-block;
  width: 45%;
  text-align: right;
}

.secciondos .tendencias li a
{
 color: black;
}


.columnas{
  padding: 1%;
  display: flex;
  width: 100vw;
  
}
/* columna uno */
.columna-izq{
  color: blueviolet;
  width: 25vw; 
  text-align: center;
  display: inline-block;
}
.columna-mediouno{
  color: orange;
  width: 25vw; 
  text-align: center;
  display: inline-block; 
}
.columna-mediodos{
  color: rgb(42, 110, 54);
  width: 25vw; 
  text-align: center;
  display: inline-block;
}
.columna-der{
  color: rgb(100, 110, 42);
  width: 25vw; 
  text-align: center;
  display: inline-block;
}

 /* intento clumnas dos
 main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 150px 150px;
} */

/* imagenes acomodar */
.columnas img{
  display: block;
  width: 90%;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* AJUSTAR A LAP Y TABLET */
@media (max-width:1000px){
  .columnas{
    display: flex;
  }
  .columna-mediodos .columna-mediouno .columna-izq{
    width: 33vw;
    display: inline-block;
  }
  
}